{% extends 'index.html' %}

{% block content %}

<br />
<div id="add-div"></div>
<br />

<h1 style="color: darkviolet">jaatelokioskit</h1>

<button id="add-btn" class="btn btn-success btn-sm" onclick="showaddform()">Lisaa jaatelokioski</button>


        <form method="post" action="/etsi-jaatelokioskit/">

            {%csrf_token %}
            <input class="card-text" class="card-text" type="text" placeholder="etsi" name="etsi">

            <input type="submit" value="Etsi" class="btn btn-success btn-sm" name="">
        </form>
  

{% for s in jaatelokioskit %}
<div class="card" style="width: 50rem;">
    <div class="card-body">
        <h4 class="card-title">{{s.nimi}}</h4>
        <p class="card-text">{{s.kontakti}} | puhelinnumero: {{s.puhelinnumero}} | sahkopostiosoite: {{s.sahkopostiosoite}} </p>
        <p class="card-text">Osoite: {{s.osoite}} | Maa: {{s.maa}}</p>

        <a href="/muokkaa-jaatelokioski-get/{{s.id}}/" class="btn btn-primary">Muokkaa</a>
        <a href="/confirm-poista-jaatelokioski/{{s.id}}/" class="btn btn-danger">Poista</a>
        <a href="/tuotteet-by-jaatelokioski/{{s.id}}/" class="btn btn-secondary">{{s.nimi}} Tuotteet</a>
    </div>
</div>


{%endfor%}


<script>

    let x = `
    <h2 style="color: lightblue">Please fill in form</h2>
    
    <div class="card" style="width: 20rem;">
        <div class="card-body">
            <form method="post" action="/lisaa-jaatelokioski/">
    
                {% csrf_token %}
                <input class="card-text" class="card-text" type="text" placeholder="nimi" name="nimi">
                <input class="card-text" type="text" placeholder="kontakti" name="kontakti">
                <input class="card-text" type="text" placeholder="osoite" name="osoite">
                <input class="card-text" type="text" placeholder="puhelinnumero" name="puhelinnumero">
                <input class="card-text" type="text" placeholder="sahkopostiosoite" name="sahkopostiosoite">
                <input class="card-text" type="text" placeholder="maa" name="maa">
                <br/>
                <input type="submit" value="Confirm" class="btn btn-success btn-sm" name="">
                <input type="submit" id="hide-btn" class="btn btn-secondary btn-sm" onclick="hideaddform()" value="Cancel" name="">
            </form>
        </div>
    </div>`

    function showaddform() {
        document.getElementById("add-div").innerHTML = x
    }

    function hideaddform() {
        document.getElementById("add-div").innerHTML = ""
    }

</script>

{% endblock %}